<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Found</title>
    <style>
        *{
            margin: 2;
            padding: 1;
        }
    </style>
</head>
<body>
    <h1>Not Found</h1>
    <br>
    <br>
    <p>The requested document was not found on this server.</p>
    <br>
    <hr>
    <br>
    <i>webserver Error</i>
</body>
</html>